#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
##
## Wording Velocity Macros
##

## Respect the compact indentation to evict whitespace and carriage return
#macro(replaceWordingKeyParams $sentence $values)#set( $returnValue = "#replaceWordingKeyParamsAndTrim($sentence $values)")$returnValue.trim()#end

#macro(replaceWordingKeyParamsAndTrim $sentence $values)
	#set ($result = $sentence)
	#set($index = 0)
	#foreach( $value in $values )
		#if ($value)
			#set($key = "{$index}")
			#set($result = $result.replace($key, "$value"))
			#set($index = $index + 1)
		#end
	#end
	$result
#end
